<nav class="menu">
    <header class="logo"> <a href="/"><img src="../assets/logo.webp" class="littleImage" alt="Star wars decorative image"></a></header>

    <div class="right menu">
            <a id="dashboard" class="menuButton saberHover" href="/wiki">Wiki</a>
            <a id="about" class="menuButton saberHover" href="/about">About</a>
            <a id="swtor" class="menuButton saberHover" href="/swtor">SWTOR</a>
    </div>
</nav>