<nav class="menu">
    <header class="logo"> <a href="/"><img src="../assets/logo.webp" class="littleImage" alt="Star wars decorative image"></a></header>
    <div class="right menu">
        <a id="signup" class="menuButton saberHover" href="/signup"> Signup  </a>
        <a id="login" class="menuButton saberHover" href="/login">  Login   </a>
    </div>
</nav>

<script>
    document.querySelector("#{{id}}").classList.add("active");
</script>