{{> menu}}


<section class="ui center aligned middle aligned segment">
    {{#ifCond updateChar '==' true}}
        {{> editCharacterHistory}}
    {{else}}
        {{> characterHistory}}
    {{/ifCond}}

</section>
