{{> welcomemenu }}

<section class="ui centered segment">
    <h1 class="title centered">Welcome to Star Wars the Old Republic !</h1>
    <h2 class="centered">A long time ago in a galaxy far, far away....</h2>
    <p class="centered">
        Board on your X-70B Phantom to learn everything about the Old Republic.
    </p>
    <p>Please sign up or log in... </p>
    <img src="../assets/star_wars.webp" class="centered header littleImage" alt="Star wars decorative image">
</section>