{{> menu}}

<section class="ui center segment">
    {{#with info}}
        <h1 class="title centered">{{appTitle}}</h1>
        <h2 class="centered">A long time ago in a galaxy far, far away....</h2>
        <p class="centered">
            Board on your X-70B Phantom to learn everything about the Old Republic.
        </p>
        <img src="assets/star_wars.webp" class="centered header littleImage" alt="Star wars decorative image">
        <p class="centered">{{information}}</p>
    {{/with}}

</section>