{{> menu}}

<section class="ui center segment">
    <h1 class="title centered">What is SWTOR?</h1>
    <p class="centered">
        Star Wars: The Old Republic is a massively multiplayer online role-playing game (MMORPG) based in the Star Wars universe. Developed by BioWare Austin and a supplemental team at BioWare Edmonton, the game was announced on October 21, 2008. The video game was released for the Microsoft Windows platform on December 20, 2011 in North America and part of Europe. It was released in Oceania and Asia on March 1, 2012.
    </p>
    <p class="centered">
        This story takes place in the Star Wars universe shortly after the establishment of a tenuous peace between the re-emergent Sith Empire and the Galactic Republic. The game features eight different classes. Each of the eight classes has a three act storyline that progresses as the character levels up. Players join either the Republic or the Sith, but players may possess a morality at any point along the light/dark spectrum. Different classes favor different styles of gameplay, and the game features extensive customization options, fully voiced dialogue, companion characters, and dialogue options similar to BioWare's other role-playing games.
    </p>
    <p><em>Origin: Wikipedia.</em></p>
    <img src="../assets/swtor.webp" class="centered littleImage" alt="Star wars The Old Republic decorative image">
</section>